<div>
  <%= link_to('Back to list',tasks_path)%>
  <h1 class="text-3xl font-bold underline">Edit task</h1>
  <%= form_for(@task) do |f| %>
    <% # url: tasks_path(@task), method: 'patch' %>
    <%= render(partial: 'form',locals: ({f: f,button_label: 'Edit task'}))%>
  <%end%>
  <select>
    <% @categories.each do |category|%>
      <option>
        <%= category.name%>
      </option>
    <%end%>
  </select>
</div>
