<div class='flex flex-col justify-center p-8'>
  <%= link_to("Back to Homepage",{controller: 'main',action: 'index'})%><br/>
  <h1 class="text-3xl font-bold underline">Categories#index</h1>
  <div class='justify-center flex-col flex gap-4' >
    <table class='w-[max(700px,90vw)] mx-auto border-2 w- text-center border-red mt-2'>
      <th>#</th>
      <th>Name</th>
      <% @categories.each do |category|%>
        <tr>
          <th><%= category.id%></th>
          <th><%= link_to(category.name,category_path(category))%><br/>
          </th>
        </tr>
      <% end%>
    </table>
    <%= link_to("Add new task",{action: 'new'},class: 'border-2 w-40 flex justify-center hover:bg-red-50 rounded-sm' )%><br/>
  </div>
</div>
